#mapid
{ height: 450px;
max-width: 100%;
}


h1 {
text-align: center;
}


.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #16508a;
	-webkit-box-shadow:inset 0px 1px 0px 0px #16508a;
	box-shadow:inset 0px 1px 0px 0px #16508a;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
  margin: 9px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* https://www.bestcssbuttongenerator.com/#/12 Designed by me, using this tool. */

#modal-background {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: white;
		opacity: .50;
		-webkit-opacity: .5;
		-moz-opacity: .5;
		filter: alpha(opacity=50);
		z-index: 1000;
}

#modal-content {
		background-color: white;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		box-shadow: 0 0 20px 0 #222;
		-webkit-box-shadow: 0 0 20px 0 #222;
		-moz-box-shadow: 0 0 20px 0 #222;
		display: none;
		height: 240px;
		left: 50%;
		margin: -120px 0 0 -160px;
		padding: 10px;
		position: absolute;
		top: 50%;
		width: 320px;
		z-index: 1000;
}

#modal-background.active, #modal-content.active {
		display: block;
}

h4 {
	z-index: 1000;
}

#wrapper {
	max-width: 1000px;
	margin: auto;
}
